<!doctype html>
<html lang="en">
  
  <head>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="cpu_style.css">

    <title>Cofee lake</title>
    <h1 align="center"> CPU </h1>
  <h2 align="left" >Elige una CPU de tu gusto  </h2> 
  <h3 align="center" style="color: white">Sus resultados apareceran abajo: </h3> 
  </head>
  <br>
  <br>
  <br>
  <body>
  <h3>Buscar: </h3><br>
  <input type="text" name="Modelo" value="Ejemplo:Pentium "> <br><br>
  <select name="Marca">
    <option>AMD</option>

    <option>INTEL</option>
  </select>
  <br><br><br>
  <h3 align="left">GPU integrado: </h3>
  <input id="si"  type="radio" name="GPU integrado" value="si"><h5 style="color: white">Si</h5> 
  
  <input id="no" type="radio" name="GPU integrado" value="no"><h5 style="color: white">No</h5> 
  
  <br>
  <h3>Tipo de Socket</h3>
  <select>
    <option>1151</option>
    <option>AM3+</option>
    <option>FM2</option>
    <option>FM2+</option>
    <option>LGA 1151</option>
    <option>LGA 2066</option>
    <option>TR4</option>
    <option>LGA 1151-8va-</option>
    <option>LGA 2011-3</option>
  </select>
  <br><br>
  
  
</body>
<footer> 
  <button align="center" class="btn btn-primary" id="volver" onclick="location= 'index.html'" >Volver a la Pagina Principal</button>
  <button align="center" class="btn btn-success" id="comparar">Comparar</button>
</footer>
</style>
</html>