{% load staticfiles%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/estilos-mother.css' %}">
    <!-- Bootstrap core CSS -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <!--link href="css/simple-sidebar.css" rel="stylesheet"-->
    <title>Aguante la Gtx</title>
  </head>
  <body>
        <h1>{{mother.name}}</h1>
		{% for i in mother.CPURelated.all %}
			<h3>{{i.name}}</h3>
		{% endfor%}

		{% for j in mother.GPURelated.all%}
			<h3>{{j.name}}</h3>
		{%endfor%}
        <!-- Bootstrap core JavaScript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
            
                
  </body>
</html>